.imageResponsive {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  display: $display;
  @include flexFlow(column wrap);
  @include justifyContent(space-around);
  @include alignContent(space-around);
}

.containerList {
  display: $display;
  @include flexFlow(row wrap);
  @include justifyContent(space-between);
}

.Item {
  display:$display;
  @include flexDirection(column);
  @include flex(1);
  border-radius: 5%;
  color:#4E545F;
}

.itemImg {
  @extend .imageResponsive;
  box-shadow: 2px 2px 2px $textColor;
  height: 100px;
}

.discCol {
  background-color: #FAA61A;
  font-size: 15px;
  color:$textColor;
  padding:1%;
  box-shadow: 2px 2px 2px $textColor;
}

.offersSpan {
  margin:0 .5%;
}

.ItemFooter {
  @extend .textEllipsis;
  border-top: 1px solid #e7e7e7;
  box-shadow: 2px 2px 2px $textColor;
}

.itemDetails {
  list-style-type: none;
  color: #4E545F;
  padding:2%;
}

.itemDetails li:first-child {
  font-size:20px;
  @extend .textEllipsis;
}

.containerList .Item{
  padding:15px;
}

.searchBoxExtension {
  color: #007aff !important;
}

.infoDiv {
  display: $display;
  @include flexFlow(column wrap);
}

.bgDiv {
  position: relative;
  width: 100%;
}

.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  @extend .imageResponsive;
}

.bgContent {
  display: $display;
  @include flexDirection(column);
  @include justifyContent(space-between);
  height:100%;
  z-index: 5;
}

.slideImg {
  @extend .imageResponsive;
  height:100%;
  width:100%;
  border:1px solid green;
}

.hoveredList {
  display: $display;
  @include flexFlow(row wrap);
  @include alignSelf(flex-end);
  border:1px solid transparent;
  min-height:20%;
  width:100%;
  background-color: #3D4443;
  opacity:0.6;
  color:$textColor;
}

.hoveredList li {
  display: $display;
  @include flexDirection(column);
  @include alignItems(center);
  @include flex(1);
  font-size: 15px;
}


.hotelInfo {
  width:100%;
  display: $display;
  @include flexFlow(column wrap);
  @include alignSelf(center);
  @include textAlign(center);
  color: $textColor;
  opacity:0.6;
  background-color: #000000;
}

.hotelInfo>h5 {
  font-size: 20px;
  color:$textColor;
}

a{
  text-decoration: none !important;
}


.ratingsDiv {
  display: $display;
  @include flexFlow(row wrap);
  @include alignItems(center);
}

.reviewerImg {
  margin:0 2%;
  height:50px;
  width:50px;
  border-radius: 50%;
  @extend .imageResponsive;
}

.reviewerName {
  @include alignSelf(center);
  @include flex(2);
}

.ratingStars {
  display:$display;
}

.ratingStars li {
  margin:5%;
}

/*accordian styles*/
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/*tabs css*/

.customTabs {
  display:$display;
  @include justifyContent(center);
  padding:1%;
}

.customTabs li{
  width:30%;
  padding:1%;
  @include textAlign(center);
  border:1px solid #e2e2e2;
  font-size: 20px;
}

.active {
  background-color: #d7541a;
  color:$textColor;
}

.active a{
  color: $textColor;
}

.totalRating {
  display: $display;
  @include flexDirection(row);
  @include justifyContent(center);
  position: relative;
  right:1%;
}

.filled {
  color: #d7541a;
}

.slider-slides {
  height: 150px;
}