
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
}

.containerList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Item {
  display:flex;
  flex-direction: column;
  flex:1;
  border-radius: 5%;
  color:#4E545F;
}

.itemImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  box-shadow: 2px 2px 2px #FFFFFF;
  height: 100px;
}

.discCol {
  background-color: #FAA61A;
  font-size: 15px;
  color:#ffffff;
  padding:1%;
  box-shadow: 2px 2px 2px #FFFFFF;
}

.offersSpan {
  margin:0 1%;
}

.ItemFooter {
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 2px 2px 2px #FFFFFF;
}

.itemDetails {
  list-style-type: none;
  color: #4E545F;
}

.itemDetails li:first-child {
  font-size:20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.containerList .Item{
  padding:15px;
}

.searchBoxExtension {
  color: #007aff !important;
}

.infoDiv {
  display: flex;
  flex-flow:column wrap;
}

.bgDiv {
  position: relative;
  width: 100%;
}

.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.bgContent {
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:space-between;
  z-index: 5;
}

.slideImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height:100%;
  width:100%;
  border:1px solid green;
}

.hoveredList {
  display:flex;
  flex-flow: row wrap;
  align-self: flex-end;
  border:1px solid transparent;
  min-height:20%;
  width:100%;
  background-color: #3D4443;
  opacity:0.6;
  color:#ffffff;
}

.hoveredList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
  font-size: 15px;
}


.hotelInfo {
  width:100%;
  display:flex;
  flex-flow: column wrap;
  align-self:center;
  text-align:center;
  color: #FFFFFF;
  opacity:0.6;
  background-color: #000000;
}

.hotelInfo>h5 {
  font-size: 20px;
  color:#ffffff;
}

a{
  text-decoration: none !important;
}


.ratingsDiv {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}

.reviewerImg {
  margin:0 2%;
  height:50px;
  width:50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.reviewerName {
  align-self:center;
  flex:2;
}

.ratingStars {
  display:flex;
}

.ratingStars li {
  margin:5%;
}

/*accordian styles*/
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/*tabs css*/

.customTabs {
  display:flex;
  justify-content: center;
  padding:1%;
}

.customTabs li{
  width:30%;
  padding:1%;
  text-align: center;
  border:1px solid #e2e2e2;
  font-size: 20px;
}

.active {
  background-color: #d7541a;
}

.active a{
  color: #ffffff;
}

.totalRating {
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.filled {
  color: #d7541a;
}

.slider-slides {
  height: 150px;
}