<div classs="infoDiv">
  <div class="bgDiv">
    <div class="bgImg" style="background-image: url({{accessKey.servicesUrl}}/photo?maxwidth=400&photoreference={{hotelInfo.photos[0].photo_reference}}&key={{accessKey.key}})"></div>
    <div class="bgContent">
      <div class="hotelInfo">
        <h5 ng-bind="hotelInfo.name"></h5>
        <div class="totalRating">
          <star-rating rating="4"></star-rating>
        </div>
        <div><span>Total Reviews</span><span class="offersSpan" ng-bind="hotelInfo.user_ratings_total"></span></div>
        <div><icon class="icon icon-right ion-social-usd"></icon><span class="offersSpan">Below</span><span class="offersSpan">$ {{offerVal}}</span></div>
        <div><icon class="icon icon-right ion-android-walk"></icon><span class="offersSpan">{{disRandom}}</span><span>Min Away</span></div>
      </div>
      <ul class="hoveredList">
        <li><icon class="icon ion-android-call"></icon><a href="tel:{{hotelInfo.international_phone_number}}" style="color:#ffffff;">Call</a></li>
        <li><icon class="icon ion-map"></icon><span>Directions</span></li>
        <li ng-click="socialShare()"><icon class="icon ion-android-share-alt"></icon><span>Share</span></li>
        <li><icon class="icon ion-ios-heart-outline"></icon><span>Favourities</span></li>
      </ul>
    </div>
  </div>

  <ul class="customTabs">
    <li ng-class="{active:tab === 'reviews'}" ng-click="setTab('reviews')"><a href="javascript:void(0)">Reviews</a></li>
    <li ng-class="{active:tab === 'info'}"  ng-click="setTab('info')"><a href="javascript:void(0)">Info</a></li>
  </ul>
  <ui-view></ui-view>
</div>

